<section class="todoapp">
  <header>
    <div class="container_header">
      <h2>Mis tareas</h2>
      <p>Todas tus tareas en un lugar</p>
      <input class="tareas_aqui" placeholder="Escribe tus tareas aquí" type="text"/>
    </div>
  </header>
</section>

<section class="container_tareas">
  <div class="todo_list">
    <ul>
      <li class="completed">
        <input type="checkbox">
        <span>Tarea nueva</span>
        <input type="button" value="X">
        <p></p>
      </li>
      <li class="completed">
        <input type="checkbox">
        <span>Prueba</span>
        <input type="button" value="X">
      </li>
      <li>
        <input type="checkbox">
        <span>Test</span>
        <input type="button" value="X">
      </li>
    </ul>
  </div>
  <div class="todo_footer">
    <span>3 items</span>
    <div class="filter">
      <button>Todas</button>
      <button>Pendientes</button>
      <button>Completadas</button>
    </div>
    <button class="clear">Limpiar completadas</button>
  </div>
</section>



  
    
    

    