* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #011361;
    padding-bottom: 4rem;
    color: white;
}

.container_header {
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
}

.container_header h2 {
    width: 100%;
    font-size: 50px;
    font-weight: 200;
    padding-top: 2rem;
    margin: 0;
}

.container_header p {
    margin: 0;
    padding-bottom: 1.5rem;
}

.tareas_aqui {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-style: oblique;
    padding: 15px 25px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
}

.container_tareas {
    position: relative;
    top: -40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
}

.lista_tareas {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo_list ul {
    list-style: none;
    padding: 0;
    margin: 5px 15px;
    font-size: 24px;
}

.todo_list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.todo_list li label {
    flex-grow: 1;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.todo_list button{
    background-color: #c5c5c5;
    border-radius: 5px;
    border: 5px solid #c5c5c5;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 1;
}

.todo_list input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 20px;
    cursor: pointer;
}

.todo_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.todo_footer span {
    margin-left: 20px;
}

.todo_footer .filter button {
    border-radius: 5px;
    border: 2px solid #c5c5c5;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 3px;
    font-size: 14px;
}

.todo_footer .filter button:hover {
    background-color: #c5c5c5;
}

.todo_footer .clear {
    border-radius: 5px;
    border: 2px solid #c5c5c5;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 14px;
}

.clear:hover {
    background-color: #c5c5c5;
}