<section class="todoapp">
  <header>
    <!--Agregar tareas-->
    <div class="container_header">
      <h2>Mis tareas</h2>
      <p>Todas tus tareas en un lugar</p>
      <input class="tareas_aqui" placeholder="Escribe tus tareas aquí" type="text" [(ngModel)]="newTask"
      (keyup.enter)="addTask()"/>
    </div>
  </header>
</section>

<section class="container_tareas">
  <div class="todo_list">
    <ul>
      <li *ngFor="let task of getFilteredTasks(); let i = index">
        <input type="checkbox" [(ngModel)]="task.completed">
        <label [ngClass]="{ 'completed': task.completed }">{{ task.text }}</label>
        <button (click)="removeTask(i)">X</button>
      </li>
    </ul>
  </div>
  <div class="todo_footer">
    <span>{{ tasks.length }} items</span>
    <div class="filter">
      <button [class.active]="filter === 'all'" (click)="setFilter('all')">Todas</button>
      <button [class.active]="filter === 'active'" (click)="setFilter('active')">Pendientes</button>
      <button [class.active]="filter === 'completed'" (click)="setFilter('completed')">Completadas</button>
    </div>
    <button class="clear" (click)="clearCompleted()">Limpiar completadas</button>
  </div>
</section>







